<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="freshbook">
        <classes>
            <class name="freshbook.CreateTimeEntry"/>
            <class name="freshbook.GetTimeEntry"/>
            <class name="freshbook.Update"/>
            <class name="freshbook.Delete"/>
            <class name="freshbook.Estimate"/>
        </classes>
    </test>
</suite>